<header>
     <nav>
        <ul class="left">
            <% if(isAdmin){ %>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/Setting">Setting</a></li>
            <% } %>
            <li><a href="/Home">Home</a></li>
            <li><a href="/Posts">Posts</a></li>
            <li class="right"><%= username %></li>
        </ul>
      
    </nav> 
</header>