<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/Style.css" rel="stylesheet" type="text/css" />
        <title>Home</title>
        <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main">
            <%- include("./partials/nav.ejs") %> 
            <div class="banner">
                <h2>Welcome to <%= sitename %></h2>
            </div>  
            <div class="posts">
                <% posts.forEach(post=>{ %>
                    <article class="post" id="<% post._id %>">
                        <h3><%= post.title %></h3>
                        <P><%- post.description %></P>
                        <a href="/Post/<%= post._id %>">Open Post</a>
                    </article>
                <% }) %>
            </div> 
        </div>   
    </body>
   
    
</html>