<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Style.css" rel="stylesheet" type="text/css" />
    <title>Posts</title>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">
</head>

<body>
    <%- include("./partials/settingMenu.ejs") %>
        <div class="main">
            <%- include("./partials/nav.ejs") %>
                <div class="edit-form">
                    <form id="signup" class="form">
                        <h2>Change Info</h2>
                        <label for="username">username</label>
                        <input type="text" name="username" value="<%= user.username %>" required />
                        <label for="email">Email</label>
                        <input type="text" name="email" value="<%= user.email %>" required />

                        <label for="fname">First name</label>
                        <input type="text" name="fname" value="<%= user.name %>" required />
                        <label for="lname">Last name</label>
                        <input type="text" name="lname" value="<%= user.lastName %>" required />
                        <button>change</button>
                    </form>
                </div>
                <div class="edit-form">
                    <form id="change-pass" class="form">
                        <h2>Change Password</h2>
                        <label for="oldpass">Old Password</label>
                        <input type="password" name="oldpass" required />
                        <label for="newpass">New Password</label>
                        <input type="password" name="newpass" required />
                        <label for="newpassRepeat">New Password Repeat</label>
                        <input type="password" name="newpassRepeat" required />
                        <div class="pass error"></div>
                        <button>change</button>
                    </form>
                </div>

        </div>

</body>

<script src="/js/infoSetting.js"></script>

</html>