<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Style.css" rel="stylesheet" type="text/css" />
    <title>New post</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/29.2.0/decoupled-document/ckeditor.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <%- include("./partials/nav.ejs") %>
            <div class="new-post">
                <h2 style="margin-left: 20px;">create</h2>
                <form id="create-title">

                    <label for="title">Title</label>
                    <input id="title" type="text" name="title" required />
                    <label for="description">description</label>
                    <input id="description" type="text" name="description" maxlength="50" required />

                </form>
                <div id="toolbar-container"></div>

                <div class="document-editor">
                    <div class="document-editor__toolbar"></div>
                    <div class="document-editor__editable-container">
                        <div class="document-editor__editable">
                            <p></p>
                        </div>
                    </div>
                </div>
                <button class="new-btn">click</button>
            </div>
    </div>
</body>
<script src="/js/newPost.js"></script>

</html>