<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Style.css" rel="stylesheet" type="text/css" />
    <title>Posts</title>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <%- include("./partials/nav.ejs") %>
            <div class="posts">
                <% posts.forEach(post=>{ %>
                    <article class="post" id="<% post._id %>">
                        <h3>
                            <%= post.title %>
                        </h3>
                        <P>
                            <%- post.description %>
                        </P>
                        <a href="/Post/<%= post._id %>">Open Post</a>
                    </article>

                    <% }) %>
                        <% if(isAdmin){ %>
                            <div class="newPost-btn">
                                <a href="/NewPost">New post</a>
                            </div>
                        <% } %>
            </div>
    </div>
</body>

</html>