<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Style.css" rel="stylesheet" type="text/css" />
    <title>
        <%= post.title %>
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/ckeditor5/29.2.0/decoupled-document/ckeditor.js"></script>

</head>

<body>
    <div class="main">
        <%- include("./partials/nav.ejs") %>


            <% if(isAdmin){ %>
                <div class="container">
                    <div id="options" class="item">
                        <a class="delete" data-doc="<%= post._id %>"><img src="/trashcan.svg"></a>
                        <a class="edit" data-doc="<%= post._id %>"><img src="/edit.svg"></a>
                    </div>
                    <div id="info" class="item">
                        <h5>View: <%= post.view %>
                        </h5>
                        <h5 id="date"></h5>
                    </div>
                </div>
                <% } %>
                    <div id="text-content">
                        <article class="post" id="<% post._id %>">
                            <h3>
                                <%= post.title %>
                            </h3>
                            <div class="post-text">
                                <%- post.content %>
                            </div>
                        </article>
                    </div>
                    <% if(isAdmin){ %>
                        <div id="edit-form">
                            <input id="title" type="text" name="title" required />
                            <input id="description" type="text" name="description" required />
                            <div class="document-editor">
                                <div class="document-editor__toolbar"></div>
                                <div class="document-editor__editable-container">
                                    <div class="document-editor__editable">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <button class="new-btn">click</button>
                        </div>
                        <% } %>
    </div>
</body>
<% if(isAdmin){ %>
    <script>const postTitle = "<%= post.title  %>"; const postDescription = "<%= post.description %>"; const postContent = "<%- post.content %>"; postDate = "<%= post.postdate %>";</script>
    <script src="/js/post.js"></script>
    <% } %>

</html>