<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/Style.css" rel="stylesheet" type="text/css" />
        <title>Setting</title>
        <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include("./partials/settingMenu.ejs") %>  
        <div class="main"> 
            <%- include("./partials/nav.ejs") %>      
        </div>
         
    </body>
  
    
</html>