<!DOCTYPE html>
<html>
    <head>
        <link href="/Style.css" rel="stylesheet" type="text/css" />
        <title>Sign Up</title>
        <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="main">
            <form id="signup" class="form">
                <h2>Sign Up</h2>
                <label for="username">username</label>
                <input type="text" name="username" required />
                <div class="username error"></div>
                <label for="email">Email</label>
                <input type="text" name="email" required />
                <div class="email error"></div>
                <label for="password">Password</label>
                <input type="password" name="password" required />
                <div class="password error"></div>
                <label for="siteName">website name</label>
                <input type="text" name="siteName" required />
                <label for="fname">First name</label>
                <input type="text" name="fname" required />
                <label for="lname">Last name</label>
                <input type="text" name="lname" required />
                <button>Sign up</button>
            </form>
        </div>
        <script src="/js/signup.js"></script>
    </body>
   
</html>
