<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Style.css" rel="stylesheet" type="text/css" />
    <title>Posts</title>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">
</head>

<body>
    <%- include("./partials/settingMenu.ejs") %>
        <div class="main">
            <%- include("./partials/nav.ejs") %>
                <form id="signup" class="form">
                    <h2>Change Site Info</h2>
                    <label for="siteName">Site Name</label>
                    <input type="text" name="siteName" value="<%= sitename %>" required />
                    <button>change</button>
                </form>

        </div>

</body>

<script src="/js/siteSetting.js"></script>

</html>