body{
    padding:30px;
   
    background-color: #f8f9fa;
    font-family: 'Hind Siliguri', sans-serif;
}
*{ 
    box-sizing: border-box;
}
.main{
    width: 65%;
    margin: auto;
}

/* nav style */
nav{	
   height: 55px;
    width: 100%;
    margin: auto;
    position: relative;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 2px 5px 0 rgba(63, 63, 63, 0.2), 0 6px 20px 0 rgba(151, 150, 150, 0.19);
}
h2{
    padding: 10px;
}
nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;  
}
nav li{
    float: left;
    box-sizing: border-box;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px 50px;
    text-decoration: none;
}
nav li a:hover{
    background-color: white;
    border-radius: 25px;
    color:crimson;
}  
.right{
    float: right;
    padding: 16px;
}
  /* sign up style */
.form{
    max-width: 40%;
    margin: 100px auto 0;
    padding: 30px;
    box-shadow: 0 2px 5px 0 rgba(63, 63, 63, 0.2), 0 6px 20px 0 rgba(151, 150, 150, 0.19);
    border-radius: 10px;
    background: white;
}
#create-title{
    margin: 100px auto 0;
    padding: 5px 30px;
    max-width: 40%;

}
.new-post{
    max-width: 40%;
    margin: 100px auto 0;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #da0404;
    box-shadow: 0 2px 5px 0 rgba(63, 63, 63, 0.2), 0 6px 20px 0 rgba(151, 150, 150, 0.19);
    border-radius: 10px;
    background: white;
}
.banner{
    width: 100%;
    height: 250px;
    text-align: center;
    background-color: #6d6d6d;
    box-shadow: 0 2px 5px 0 rgba(63, 63, 63, 0.2), 0 6px 20px 0 rgba(151, 150, 150, 0.19);
    border-radius: 10px;
}
input[type=text], input[type="password"] {
    border: none;
    border-bottom: 1px solid #4f30677d;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=text]:focus, input[type=password]:focus {
    border: none;
}
label{
    display: block;
    margin: 20px 0 5px;
}
.error{
    
    margin: 10px 2px;
    font-size: 0.8em;
    font-weight: bold;
}
button{
    margin-top: 30px;
    border-radius: 5px;
    background: #eef1f5;
    border:0;
    font-weight: 700;
    font-size: 0.8em;
    display: block;
    padding: 10px 16px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 2s;
} 

.posts{
    width: 70%;
    margin: auto;
    position: relative;
}
.posts .post{
    padding: 10px;
    width: 100%;
    height: 350px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 2px 5px 0 rgba(63, 63, 63, 0.2), 0 6px 20px 0 rgba(151, 150, 150, 0.19); 
    margin: 10px auto;
}
.post h3{
    padding: 10px;
    text-align: center;
    background-color: #ebebeb;
    border-radius: 15px;
}
.post-text{
    padding: 10px;
    word-break: break-word;
    overflow:auto;
    background-color: #ebebeb;
    border-radius: 10px;
}
.newPost-btn a,.posts .post a{
    border-radius: 15px;
    display: inline-block;
    background-color: #b3b3b3;
    color: black;
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    margin-top: 125px;
   
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
   
}
.item{
    border-radius: 10px;  
    display: inline-block;       
    flex: 40%;
    margin:15px 5px;
    height: 100px;
    background-color: #ebebeb;
}

.delete, .edit{
    padding: 2px;
    border-radius: 50%;    
    margin-left: 10px;     
}
.delete:hover, .edit:hover{
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  }
.new-btn{
    padding: 20px;
    margin-left:50px ;
}
.document-editor {
    border: 1px solid var(--ck-color-base-border);
    border-radius: var(--ck-border-radius);
    margin: 20px auto;
    max-height: 900px;
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
}
.document-editor__toolbar {
    z-index: 1;
    box-shadow: 0 0 5px hsla( 0,0%,0%,.2 );
    border-bottom: 1px solid var(--ck-color-toolbar-border);
}
  
.document-editor__toolbar .ck-toolbar {
    border: 0;
    border-radius: 0;
} 
.document-editor__toolbar {
    z-index: 1;
    box-shadow: 0 0 5px hsla( 0,0%,0%,.2 );
    border-bottom: 1px solid var(--ck-color-toolbar-border);
} 
.document-editor__toolbar .ck-toolbar {
    border: 0;
    border-radius: 0;
}

.document-editor__editable-container {
    padding: calc( 2 * var(--ck-spacing-large) );
    background: var(--ck-color-base-foreground);
    overflow-y: scroll;
}
.document-editor__editable-container .ck-editor__editable {
    width: 15.8cm;
    min-height: 21cm;
    padding: 1cm 2cm 2cm;
    border: 1px hsl( 0,0%,82.7% ) solid;
    border-radius: var(--ck-border-radius);
    background: white;
    box-shadow: 0 0 5px hsla( 0,0%,0%,.1 );
    margin: 0 auto;
}

.setting-menu{
    display: inline-block;
    list-style-type: none;
    position: absolute;
    top:150px;
    left: 0;
    padding: 0;
    width: 200px;
}
.setting-menu li{
    margin-top: 10px;
    background-color: #e2e2e2;
    border-radius: 10px;
}
.setting-menu a{
    display: block;
    color: #000;
    padding: 18px 16px;
    text-decoration: none;
    border-radius: 10px;
}
.setting-menu a:hover{
    background-color: #555;
    color: white;
    border-radius: 10px;
}